* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el borde están incluidos en el ancho y el alto especificados*/
  }
  
  body {
    color: #606c76;
    font-family: "Montserrat", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.01em;
    -webkit-text-size-adjust: 100%;
  }
  
  hr {
    background-color: rgba(174, 174, 174, 0.3529411765);
    border: none; /* Elimina el borde predeterminado */
    height: 0.5px; /* Ajusta el grosor */
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  a:focus, a:hover {
    color: #666;
    transition: 0.5s;
  }
  
  p {
    margin-bottom: 0;
  }
  
  ul {
    padding-left: 0;
    list-style: circle inside;
    list-style: none;
  }
  
  li {
    line-height: inherit;
    margin: 0;
  }
  
  h3 {
    text-decoration: none;
  }
  
  input {
    padding: 3px;
  }
  
  /*--- BUTTONS ---*/
  #btn-submit {
    margin-top: 10px; /* Espacio entre el campo de correo y el botón */
    width: 100%; /* Para que el botón ocupe todo el ancho */
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: small;
  }
  
  .btn-secondary {
    padding: 8px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: small;
    align-items: center;
    transition: all 0, 3s;
  }
  .btn-secondary:hover {
    background-color: rgb(57, 57, 57);
    color: #ffffff;
  }

/*--- NAV ---*/
header nav {
  position: relative;
  background-color: #F8F8F8;
  border-bottom: 1px solid #ddd;
  padding: 0 !important;
}
header nav .container-fluid .navbar-toggler {
  display: none;
}
header nav .container-fluid .nav-bar-icons {
  position: absolute;
  top: 10px; /* Ajustar la posición hacia arriba */
  right: 15px; /* Alinea a la derecha */
  display: flex;
  gap: 20px;
}
header nav .container-fluid .nav-bar-icons .icon {
  text-decoration: none;
  color: #000;
  margin-right: 15px;
}
header nav .container-fluid .nav-bar-icons .icon:hover {
  color: #595959;
}
header nav .container-fluid .nav-bar-icons .icon i {
  font-size: 15px;
}
header nav .container-fluid .nav-bar-brand {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1%);
}
header nav .container-fluid .nav-bar-brand a img {
  width: 240px;
}
header nav .container-fluid .nav-bar-bottom {
  text-align: center;
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
header nav .container-fluid .nav-bar-bottom ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  padding: 0;
  margin: 5px;
  margin-top: 1.5rem;
}
header nav .container-fluid .nav-bar-bottom ul li {
  display: inline;
}
header nav .container-fluid .nav-bar-bottom ul li a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  transition: color 0.3s;
}
header nav .container-fluid .nav-bar-bottom ul li a:hover {
  color: #595959;
}


/*--- SHOP ---*/
.filter-container {
    gap: 10px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .filter-container button {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    border: 1px solid #e8e8e8;
    color: #222222;
    background-color: white;
    border-radius: 0;
    cursor: pointer;
  }
  .filter-container button:hover {
    background-color: #f1f1f1;
    color: #000;
    border-color: #e8e8e8;
  }
  .filter-container button i {
    font-size: 10px;
    margin-right: 5px;
  }
  .filter-container .dropdown {
    display: flex;
    align-items: center;
  }
  .filter-container .dropdown #filter-options {
    font-size: 13px;
    padding: 5px;
    padding-right: 35px;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    cursor: pointer;
  }
  
  .tableresponsive {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%; /* Limita el ancho máximo del grid */
    gap: 1rem;
    margin: 1rem;
  }
  .tableresponsive .container-products {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tableresponsive .container-products .products {
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableresponsive .container-products .products a {
    width: 100%;
    height: 100%; /* Ajusta la altura para que las imágenes del mismo tamaño */
    overflow: hidden;
  }
  .tableresponsive .container-products .products a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .tableresponsive .container-products .products .product-description {
    text-align: center; /* Asegura que todo el contenido dentro de .product-description esté centrado */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableresponsive .container-products .products .product-description h3 {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .tableresponsive .container-products .products .product-description span {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0.9rem;
  }

/*---CART---*/
.cart-container {
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-bottom: 70px;
  gap: 20px;
}
.cart-container .cart-data {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.cart-container .cart-data h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
}
.cart-container .cart-data ul li {
  align-items: center;
  margin: 15px;
}
.cart-container .fact-data {
  width: 590px;
  height: 277px;
  border-radius: 0;
  border: 1px solid rgba(224, 224, 224, 0.906);
}
.cart-container .fact-data h2 {
  background-color: #f9f9f9;
  color: #000;
  border-bottom: 1px solid rgba(224, 224, 224, 0.906);
}
.cart-container .fact-data ul {
  padding-top: 8px;
}
.cart-container .fact-data ul .term-cond {
  font-size: 12px;
  border-top: 1px solid rgba(224, 224, 224, 0.906);
  padding-top: 15px;
  display: flex;
}
.cart-container .fact-data ul .term-cond i {
  margin-right: 8px;
  padding: 2px;
  border: 1px solid #9d9d9d;
  cursor: pointer;
}
.cart-container .fact-data ul .cart-item {
  padding-bottom: 5px;
  font-size: 14px;
}
.cart-container .fact-data ul .cart-item .tit {
  display: inline-block;
  font-weight: bold;
  width: 140px;
}
.cart-container .fact-data ul .cart-item span {
  color: #000;
}
.cart-container .cart-details {
  width: 550px;
  max-height: 2700px;  /* Pongo un numero elevado para que no sobrepase el maximo */
  overflow-y: auto;
  border: 1px solid rgba(224, 224, 224, 0.906);
  border-radius: 0;
}
.cart-container .cart-details h2 {
  color: #ffffff;
  background-color: #7e7e7e;
}
.cart-container .cart-details .cart-account {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
  padding: 20px;
  padding-left: 15px;
}
.cart-container .cart-details ul {
  align-items: center;
}
.cart-container .cart-details ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #ddd;
}
.cart-container .cart-details ul li .cart-item-info {
  display: flex;
  gap: 8px;
}
.cart-container .cart-details ul li .cart-item-info img {
  max-width: 70px;
  height: auto;
  margin-bottom: 6px;
}
.cart-container .cart-details ul li .cart-item-info .cart-item-description h3 {
  font-size: 14px;
  margin-bottom: 7px;
  color: #000;
  font-weight: normal;
}
.cart-container .cart-details ul li .cart-item-info .cart-item-description span {
  font-size: 10.5px;
  font-weight: lighter;
}
.cart-container .cart-details ul li .cart-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
}
.cart-container .cart-details ul li .cart-item-quantity button {
  background: none;
  padding: 5px;
  border-bottom: none;
  border-top: none;
  border-left: 1px solid rgb(189, 189, 189);
  border-right: 1px solid rgb(189, 189, 189);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px; /* Ajusta el alto según sea necesario */
  width: 15px; /* Ajusta el ancho según sea necesario */
  border-radius: 0;
  font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #222222;
}
.cart-container .cart-details ul li .cart-item-quantity span {
  font-size: 11px;
}
.cart-container .cart-details ul li .cart-item-price {
  margin-right: 5px;
  color: #222222;
}
.cart-container .cart-details ul li .cart-item-price .sim {
  font-size: 11px;
}
.cart-container .cart-details ul li .cart-item-price .amount {
  font-size: 15px;
}
.cart-container .cart-details ul li .cart-item-price a i {
  font-size: 12px;
  cursor: pointer;
  margin-left: 5px;
}
.cart-container .cart-details .total-fila {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.cart-container .cart-details .total-fila .imp-tot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cart-container .cart-details .total-fila .imp-tot span {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: start;
}
.cart-container .cart-details .total-fila .imp-tot div .sim {
  font-size: 11px;
}
.cart-container .cart-details .total-fila .imp-tot div .amount {
  font-size: 16px;
}
.cart-container .cart-details .discount {
  padding: 5px 10px 10px 10px;
}
.cart-container .cart-details .discount span {
  display: block;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}
.cart-container .cart-details .discount form {
  display: flex;
}
.cart-container .cart-details .discount form input {
  width: 100%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid rgb(222, 222, 222);
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 70px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.cart-actions a {
  display: inline-block;
  background: none;
  color: #000;
  text-align: center;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  border: 0.1px solid rgb(219, 219, 219);
  box-sizing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-actions a:hover {
  background-color: #f0f0f0;
}
.cart-actions a .fa-arrow-left {
  margin-right: 6px;
}
.cart-actions a .fa-arrow-right {
  margin-left: 6px;
}
.cart-actions div .sim {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.cart-actions div .amount {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

/*--- FOOTER ---*/
footer .top-bar {
  background-color: #ec7000;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
}
footer .top-bar img {
  width: 50px;
  margin-left: 10px;
}
footer .social-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer .social-footer ul {
  display: flex;
  gap: 20px;
}
footer .social-footer ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-footer ul li a i {
  color: #202020;
  font-size: 30px;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
footer .footer-content .column .hdr .tit {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3e3e3e;
}
footer .footer-content .column ul li a {
  color: #333;
  font-size: 13px;
}
footer .footer-content .clm-newsletter form {
  display: flex;
  flex-direction: column;
}
footer .footer-content .clm-newsletter form input {
  font-size: 13px;
  line-height: 1;
  padding: 8px;
}